<% if (locals.islogged){ %>
<header>
    <!-- navbar goes here -->
  <nav class="bg-gray-300">
      <div class="max-w-full mx-auto px-5"> <!-- Div for all of the nav bar.  -->
        <div class="flex justify-between"> <!-- Internal div in order to align the logo, the primary and secondary nav.  -->
          <div class="flex space-x-4 items-center"> <!-- Div to separate the logo and the priamry nav from the secondary nav. -->
            <!-- primary nav -->
            <div class="hidden md:flex flex items-center space-x-3">
              <a href="/fee_calculator" class=" py-3 px-3 bg-gray-100 hover:bg-gray-400 text-gray-600 hover:text-gray-900 rounded-lg transition duration-300">Fee Calculator</a>
              <!-- THE BUTTON FOR THE Depositless -->
              <a href="/depositless" class=" py-3 px-3 bg-gray-100 hover:bg-gray-400 text-gray-600 hover:text-gray-900 rounded-lg transition duration-300">Depositless</a> 
            </div>
          </div>  
    
          <!-- secondary nav -->
          <!-- <div class="hidden md:flex flex items-center space-x-1">
            <a href="#" class=" py-3 px-3 bg-gray-100 hover:bg-gray-400 text-gray-600 hover:text-gray-900 rounded-lg transition duration-300">Log Out</a>     
          </div> -->
    
          <!-- mobile button -->
          <div class="md:hidden flex items-center"> <!-- Div for the mobile button -->
            <button name="mobile menu button" class="mobile-menu-button">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
    
        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden"> <!-- Div for the modily menu  -->
          <a href="/fee_calculator" class="block py-2 px-4 text-sm hover:bg-gray-400 rounded-lg">Fee Calculator</a>
          <a href="/depositless" class="block py-2 px-4 text-sm hover:bg-gray-400 rounded-lg">Depositless</a>
        </div>
      </div>
    </nav>
  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    //add event listeners
    btn.addEventListener("click", ()=>{
    menu.classList.toggle("hidden");
    });
  </script>
</header>
<% } %>