<div>
    <label>Reference Number:</label>
    <input type="text", name="reference">
</div>

<div>
    <label>Rent Amount:</label>
    <input type="number" name="rent" min="295" step=".01">
</div>

<div>
    <label>Does the applicant pay in installments?</label>
    <input type="radio" name="isInstallments" value="1" checked>
    <label for="installments-positive">Yes</label>
    <input type="radio" name="isInstallments" value="0">
    <label for="installments-negative">No</label>
</div>

<div>
    <label>Is the applicant a student?</label>
    <input type="radio" name="type" value="1" checked>
    <label for="type-positive">Yes</label>
    <input type="radio" name="type" value="0">
    <label for="type-negative">No</label>
</div>

<div>
    <label>Please enter the tenancy start date:</label>
    <input type="date" name="start_date">
</div>

<div>
    <label>Please enter the tenancy end date:</label>
    <input type="date" name="end_date">
</div>